@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  align-self: center;
  padding: 0px 20px;
  width: 80%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 50%;
  justify-content: space-around;
  align-items: center;
}

.links {
  text-align: end;
}
.nav-link {
  text-decoration: none;
  padding: 0px 10px;
  color: #535c68;
  font-weight: 600;
}

.active {
  color: #ff7979;
}
#logo {
  color: #ff7979;
  text-align: start;
  text-shadow: 1px 2px 1px rgb(233, 32, 65);
}

.Home {
  width: 80%;
  display: grid;
  align-self: center;
  justify-content: center;
}
lord-icon {
  justify-self: center;
}
.Home h1 {
  text-align: center;
  color: #ff7979;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: 20px;
  grid-auto-rows: minmax(50px, auto);
}

.blog-preview {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 15px;
  border-radius: 7px;
  transition: all 0.3s;
}
.blog-preview:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.blog-preview h3 {
  color: #ff7979;
}
.blog-preview button {
  width: 100px;
  padding: 8px 5px;
  align-self: flex-end;
  background-color: #ff7979;
  border: 1.5px solid #ff7979;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 3px;
  transition: all 0.3s;
  color: white;
}

.blog-preview button:hover {
  background-color: #ee6b6b;
  border: 1.5px solid #ee6b6b;
  cursor: pointer;
}

.create-blog {
  width: 80%;
  margin: auto;
}
