@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: #ff7979;
  border-radius: 20px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  align-self: center;
  padding: 0px 20px;
  width: 80%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 50%;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .navbar {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.links {
  text-align: end;
}
.nav-link {
  text-decoration: none;
  padding: 0px 10px;
  color: #535c68;
  font-weight: 600;
}

.active {
  color: #ff7979;
}

#logo {
  color: #ff7979;
  text-align: start;
  text-shadow: 1px 2px 1px rgb(233, 32, 65);
}

.Home {
  width: 80%;
  display: grid;
  align-self: center;
  justify-content: center;
}
lord-icon {
  justify-self: center;
  margin: auto;
}
.Home h1 {
  text-align: center;
  color: #ff7979;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 20px;
}

.blog-preview {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 15px;
  border-radius: 7px;
  transition: all 0.3s;
}
.blog-preview:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.blog-preview h3 {
  color: #ff7979;
}
.blog-preview button {
  width: 100px;
  padding: 8px 5px;
  align-self: flex-end;
  background-color: #ff7979;
  border: 1.5px solid #ff7979;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 3px;
  transition: all 0.3s;
  color: white;
}

.blog-preview button:hover {
  background-color: #ee6b6b;
  border: 1.5px solid #ee6b6b;
  cursor: pointer;
}

.blog-details {
  margin: auto;
  width: 60%;
  margin: auto;
  padding: 10px;
}
.blog-details span {
  font-weight: bold;
  color: #6e7580;
  position: relative;
}

.blog-details span::before {
  content: "";
  background-color: #6e7580;
  position: absolute;
  width: 8px;
  height: 2px;
  left: -10px;
  top: 8px;
}
.blog-details p {
  text-align: justify;
}

.blog-details button {
  width: 100px;
  padding: 8px 5px;
  background-color: #ff7979;
  border: 1.5px solid #ff7979;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 3px;
  transition: all 0.3s;
  color: white;
}

.blog-details button:hover {
  background-color: #ee6b6b;
  border: 1.5px solid #ee6b6b;
  cursor: pointer;
}
.create-blog {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
}

.create-blog form {
  width: 60%;
  display: grid;
  margin: 10px;
}
.create-blog input {
  width: 100%;
  margin: auto;
  padding: 10px;
  border: 1px solid #9b9d9f;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box;
  margin: 10px 0px 40px 0px;
}

.create-blog textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #9b9d9f;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  margin: 10px 0px 40px 0px;
}

label {
  text-align: start;
  color: #535c68;
}

.create-blog input:hover {
  pointer-events: painted;
}

.create-blog input::placeholder {
  letter-spacing: 1px;
  font-size: 12px;
}

.create-blog button {
  width: 100px;
  margin: auto;
  padding: 8px 5px;
  background-color: #ff7979;
  border: 1.5px solid #ff7979;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 3px;
  transition: all 0.3s;
  color: white;
}

.create-blog button:hover {
  background-color: #ee6b6b;
  border: 1.5px solid #ee6b6b;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .create-blog {
    width: 100%;
  }
}
.p404 {
  text-align: center;
  font-size: 2rem;
}

.imp {
  color: red;
  font-size: 2em;
}
.web-footer {
  background-color: #ff7979;
  margin-top: 30px;
}
.footer-content {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer-content p {
  text-align: end;
}

@media screen and (max-width: 500px) {
  .footer-content {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
